:host(.paper-shadow-top),
.paper-shadow-top {
  position: relative;
  overflow: visible;
}

.paper-shadow-bottom {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

:host(.paper-shadow-animated.paper-shadow-top),
.paper-shadow-animated.paper-shadow-top,
.paper-shadow-animated .paper-shadow-bottom {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

:host(.paper-shadow-top-z-1),
.paper-shadow-top-z-1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.paper-shadow-bottom-z-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

:host(.paper-shadow-top-z-2),
.paper-shadow-top-z-2 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paper-shadow-bottom-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

:host(.paper-shadow-top-z-3),
.paper-shadow-top-z-3 {
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.paper-shadow-bottom-z-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

:host(.paper-shadow-top-z-4),
.paper-shadow-top-z-4 {
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.paper-shadow-bottom-z-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}

:host(.paper-shadow-top-z-5),
.paper-shadow-top-z-5 {
  box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.paper-shadow-bottom-z-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}
