:host([animated]) {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

:host([elevation="1"]) {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}


:host([elevation="2"]) {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
              0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

:host([elevation="3"]) {
  box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19),
              0 13px 25px 0 rgba(0, 0, 0, 0.3);
}

:host([elevation="4"]) {
  box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17),
              0 20px 40px 0 rgba(0, 0, 0, 0.3);
}

:host([elevation="5"]) {
  box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15),
              0 27px 55px 0 rgba(0, 0, 0, 0.3);
}
